<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zijincaifu.crm.dao.customer.ICustomerDao">
	<resultMap type="com.zijincaifu.crm.entity.customer.CustomerEntity"
		id="CustomerResultMap">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="customerId" column="CUSTOMER_ID" jdbcType="VARCHAR" />
		<result property="name" column="NAME" jdbcType="VARCHAR" />
		<result property="phone" column="PHONE" jdbcType="VARCHAR" />
		<result property="employeId" column="EMPLOYE_ID" jdbcType="VARCHAR" />
		<result property="channelId" column="CHANNEL_ID" jdbcType="VARCHAR" />
		<result property="level" column="LEVEL" jdbcType="INTEGER" />
		<result property="state" column="STATE" jdbcType="INTEGER" />
		<result property="unionId" column="UNION_ID" jdbcType="VARCHAR" />
		<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
		<result property="sex" column="SEX" jdbcType="INTEGER" />
		<result property="province" column="PROVINCE" jdbcType="VARCHAR" />
		<result property="city" column="CITY" jdbcType="VARCHAR" />
		<result property="provinceName" column="PROVINCE_NAME" jdbcType="VARCHAR" />
		<result property="cityName" column="CITY_NAME" jdbcType="VARCHAR" />
		<result property="cardNo" column="CARD_NO" jdbcType="VARCHAR" />
		<result property="birthday" column="BIRTH_DAY" jdbcType="DATE" />
		<result property="address" column="ADDRESS" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 获取渠道信息 -->
	<select id="getCustomer" resultMap="CustomerResultMap"
		parameterType="String">
		<![CDATA[ SELECT * FROM CRM_CUSTOMER WHERE CUSTOMER_ID=#{customerId}]]>
	</select>

	<!-- 查看渠道 -->
	<select id="queryCustomerList" resultMap="CustomerResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT * FROM CRM_CUSTOMER WHERE 1=1 ]]>
		<!-- 渠道编号 -->
		<if test="query.channelId != null and query.channelId != ''">
			<![CDATA[ AND CHANNEL_ID =#{condition.channelId}]]>
		</if>
		<![CDATA[ ORDER BY CUSTOMER_ID DESC]]>
	</select>
</mapper>