<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zijincaifu.crm.dao.customer.ICustomerDao">
	<resultMap type="com.zijincaifu.crm.entity.customer.CustomerEntity"
		id="CustomerResultMap">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="customerId" column="CUSTOMER_ID" jdbcType="VARCHAR" />
		<result property="name" column="NAME" jdbcType="VARCHAR" />
		<result property="phone" column="PHONE" jdbcType="VARCHAR" />
		<result property="employeId" column="EMPLOYE_ID" jdbcType="VARCHAR" />
		<result property="employeName" column="EMPLOYE_NAME" jdbcType="VARCHAR" />
		<result property="channelId" column="CHANNEL_ID" jdbcType="VARCHAR" />
		<result property="level" column="LEVEL" jdbcType="INTEGER" />
		<result property="state" column="STATE" jdbcType="INTEGER" />
		<result property="unionId" column="UNION_ID" jdbcType="VARCHAR" />
		<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
		<result property="sex" column="SEX" jdbcType="INTEGER" />
		<result property="province" column="PROVINCE" jdbcType="VARCHAR" />
		<result property="city" column="CITY" jdbcType="VARCHAR" />
		<result property="provinceName" column="PROVINCE_NAME"
			jdbcType="VARCHAR" />
		<result property="cityName" column="CITY_NAME" jdbcType="VARCHAR" />
		<result property="cardNo" column="CARD_NO" jdbcType="VARCHAR" />
		<result property="birthday" column="BIRTH_DAY" jdbcType="DATE" />
		<result property="address" column="ADDRESS" jdbcType="VARCHAR" />
		<result property="employeIdHistory" column="EMPLOYE_ID_HISTORY" jdbcType="VARCHAR"/>
		<result property="itemState" column="ITEM_STATE" jdbcType="VARCHAR"/>
	</resultMap>

	<!-- 获取渠道信息 -->
	<select id="getCustomer" resultMap="CustomerResultMap"
		parameterType="String">
		<![CDATA[ SELECT * FROM CRM_CUSTOMER WHERE CUSTOMER_ID=#{customerId}]]>
	</select>

	<!-- 查看渠道 -->
	<select id="queryCustomerList" resultMap="CustomerResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT DISTINCT c.*,e.NAME as EMPLOYE_NAME,p.STATE as ITEM_STATE FROM CRM_CUSTOMER c left join CRM_INVEST_ITEM p on c.CUSTOMER_ID=p.CUSTOMER_ID LEFT JOIN CRM_PERSONNEL e ON e.UID=c.EMPLOYE_ID WHERE 1=1 ]]>
		<!-- 渠道编号 -->
		<if test="condition.customerId != null and condition.customerId != ''">
			<![CDATA[ AND c.CUSTOMER_ID =#{condition.customerId}]]>
		</if>
		<if test="condition.name != null and condition.name != ''">
			<![CDATA[ AND c.NAME =#{condition.name }]]>
		</if>
		<if test="condition.phone!= null and condition.phone!= ''">
			<![CDATA[ AND c.PHONE =#{condition.phone}]]>
		</if>
		<if test="condition.productId!= null and condition.productId != ''">
			<![CDATA[ AND p.PRODUCT_ID =#{condition.productId}]]>
		</if>
		<if test="condition.channelId != null and condition.channelId != ''">
			<![CDATA[ AND c.CHANNEL_ID =#{condition.channelId}]]>
		</if>
		<if test="condition.level != null">
			<![CDATA[ AND c.LEVEL =#{condition.level}]]>
		</if>
		<if test="condition.unionId!= null and condition.unionId != ''">
			<![CDATA[ AND c.UNION_ID =#{condition.unionId}]]>
		</if>
		<if test="condition.employeId != null and condition.employeId != ''">
			<![CDATA[ AND c.EMPLOYE_ID =#{condition.employeId }]]>
		</if>
		<!-- 所属分公司 -->
		<if test="condition.companyStr != null  and condition.companyStr !='' ">
			<![CDATA[  AND e.COMPANYSTR  LIKE CONCAT(#{condition.companyStr},'%')]]>
		</if>
		<if test="condition.defaultUid != null and condition.defaultUid != ''">
			<![CDATA[ OR c.EMPLOYE_ID=#{condition.defaultUid } ]]>
		</if>
		<if
			test="condition.startDate != null  and condition.startDate != ''">
			<![CDATA[AND c.CREATE_TIME >=#{condition.startDate}]]>
		</if>
		<if
			test="condition.endDate != null and condition.endDate != ''">
			<![CDATA[AND c.CREATE_TIME <= #{condition.endDate}]]>
		</if>
		<![CDATA[ GROUP BY c.CUSTOMER_ID  ORDER BY p.STATE asc,c.CUSTOMER_ID DESC]]>
	</select>
</mapper>