<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zijincaifu.crm.dao.personnel.IPersonnelDao">
	<resultMap type="com.zijincaifu.crm.entity.personnel.PersonnelEntity" id="PersonnelResultMap">
		<id property="id" column="ID" jdbcType="VARCHAR"/>
		<result property="uid" column="UID" jdbcType="VARCHAR"/>
		<result property="name" column="NAME" jdbcType="VARCHAR"/>
		<result property="phone" column="PHONE" jdbcType="VARCHAR"/>
		<result property="company" column="COMPANY" jdbcType="INTEGER"/>
		<result property="unionId" column="UNIONID" jdbcType="VARCHAR"/>
		<result property="addTime" column="ADDTIME" jdbcType="TIMESTAMP"/>
		<result property="password" column="PASSWORD" jdbcType="VARCHAR"/>
		<result property="freezeStatus" column="FREEZESTATUS" jdbcType="INTEGER"/>
		<result property="lastLoginTime" column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP" />
		<result property="companyStr" column="COMPANYSTR" jdbcType="VARCHAR" />
		<result property="companyName" column="COMPANY_NAME" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 获取员工信息 -->
	<select id="getPersonnel" resultMap="PersonnelResultMap" parameterType="String">
		<![CDATA[ SELECT PER.*,ORG.NAME AS COMPANY_NAME FROM CRM_PERSONNEL AS PER LEFT JOIN CRM_ORG AS ORG ON (PER.COMPANY=ORG.ID) WHERE UID=#{uid}]]>
	</select>
	
	<!-- 查看员工 -->
	<select id="queryPersonnel" resultMap="PersonnelResultMap" parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT  PER.*,ORG.NAME AS COMPANY_NAME FROM CRM_PERSONNEL AS PER LEFT JOIN CRM_ORG AS ORG ON (PER.COMPANY=ORG.ID) WHERE 1=1 ]]>
		<!-- 员工编号 -->
		<if test="condition.uid != null and condition.uid != ''">
			<![CDATA[  AND PER.UID =#{condition.uid}]]>
		</if>
		<!-- 员工姓名 -->
		<if test="condition.name != null and condition.name != ''">
			<![CDATA[  AND PER.NAME LIKE CONCAT('%',#{condition.name},'%')]]>
		</if>
		<!-- 所属分公司 -->
		<if test="condition.companyStr != null  and condition.companyStr !='' ">
			<![CDATA[  AND PER.COMPANYSTR  LIKE CONCAT(#{condition.companyStr},'%')]]>
		</if>
		<!-- 员工ID,一般权限员工将传递此参数,只搜索自己的信息 -->
		<if test="condition.id != null and condition.id != ''">
			<![CDATA[  AND PER.ID =#{condition.id}]]>
		</if>
		<![CDATA[ ORDER BY UID DESC]]>
	</select>
	<!-- 查看员工 -->
	<select id="autoPersonnel" resultMap="PersonnelResultMap" parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT  * FROM CRM_PERSONNEL WHERE 1=1 ]]>
		<!-- 员工编号 -->
		<if test="condition.uid != null and condition.uid != ''">
			<![CDATA[  AND UID LIKE CONCAT(#{condition.uid},'%')]]>
		</if>
		<![CDATA[ ORDER BY UID DESC]]>
	</select>
	
	<!-- 根据手机号码获取员工信息 -->
	<select id="getPersonnelByPhone" resultMap="PersonnelResultMap" parameterType="String">
		<![CDATA[ SELECT * FROM CRM_PERSONNEL WHERE PHONE=#{phone}]]>
	</select>
</mapper>