<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zijincaifu.crm.dao.personnel.IFunctionRoleDao">
	<resultMap id="RoleResultMap" type="com.zijincaifu.crm.entity.personnel.FunctionRoleEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="functionId" column="FUNCTION_ID" jdbcType="VARCHAR" />
		<result property="employeeId" column="EMPLOYEE_ID" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="FunctionResultMap2" type="com.zijincaifu.crm.entity.personnel.FunctionEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="title" column="TITLE" jdbcType="VARCHAR" />
		<result property="url" column="URL" jdbcType="VARCHAR" />
		<result property="parentId" column="PARENT_ID" jdbcType="VARCHAR" />
		<result property="level" column="LEVEL" jdbcType="INTEGER" />
	</resultMap>
	
	<delete id="deleteRoles" parameterType="String">
		<![CDATA[DELETE FROM CRM_FUNCTION_ROLE WHERE EMPLOYEE_ID=#{persionId}]]>
	</delete>
	
	<!-- 获取权限操作列表 -->
	<select id="getAllRoleFunction" resultMap="FunctionResultMap2"
		parameterType="String">
		<![CDATA[select DISTINCT f.ID,f.LEVEL,f.PARENT_ID,f.TITLE,f.URL from CRM_FUNCTION f 
		INNER JOIN CRM_FUNCTION_ROLE r on f.ID=r.FUNCTION_ID inner join
		 CRM_PERSONNEL a ON a.UID=r.EMPLOYEE_ID WHERE a.UID=#{persionId} order by f.DESCS]]>
	</select>
	<!-- 获取权限操作列表 -->
	<select id="getRoleList" resultMap="RoleResultMap"
		parameterType="String">
		<![CDATA[select * from CRM_FUNCTION_ROLE WHERE EMPLOYEE_ID=#{persionId}]]>
	</select>
</mapper>