<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>金融系统平台</title>
<meta name="keywords" content="金融系统平台"/>
<meta name="description" content="金融系统平台"/>
<link href="style/style.css" rel="stylesheet" type="text/css" />
<link href="style/msg.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.js" type="text/javascript"></script>
</head>

<body>
<@b.header/>
<div id="login" class="fence">
  <div class="fence-wide">
  <div class="loginBox">
      <div class="title fontYH f20">用户登录<span class="f14 ml10">USER LOGIN</span></div>
        <div class="regCont f14">
        <div class="item">
          <label class="f16">员工编号</label>
          <input class="input" type="text" autocomplete="off" placeholder="" title="" id="" name="" value="" />
        </div>
        <div class="item">
          <label class="f16">登录密码</label>
          <input class="input" type="password" autocomplete="off" placeholder="" title="" />
          <p></p>
        </div>
      <a href="#html/welcome.html" class="button btn-login">立即登录</a> </div>
</div>
  </div>
</div>
<@b.footer/>
</body>
</html>
