<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zijincaifu.crm.dao.channel.IChannelDao">
	<resultMap type="com.zijincaifu.crm.model.channel.ChannelModel" id="ChannelResultMap">
		<id property="id" column="ID" jdbcType="VARCHAR"/>
		<result property="channelId" column="CHANNELID" jdbcType="VARCHAR"/>
		<result property="name" column="NAME" jdbcType="VARCHAR"/>
		<result property="remark" column="REMARK" jdbcType="VARCHAR"/>
		<result property="startTime" column="STARTTIME" jdbcType="TIMESTAMP"/>
		<result property="uid" column="UID" jdbcType="VARCHAR"/>
		<result property="isBind" column="IS_BIND" jdbcType="BOOLEAN"/>
		<result property="personnelName" column="P_NAME" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- 获取渠道信息 -->
	<select id="getChannel" resultMap="ChannelResultMap" parameterType="String">
		<![CDATA[ SELECT C.*,P.NAME P_NAME FROM CRM_CHANNEL C LEFT JOIN CRM_PERSONNEL P ON(C.UID=P.UID) WHERE C.CHANNELID=#{channelId}]]>
	</select>
	
	<!-- 查看渠道 -->
	<select id="queryChannel" resultMap="ChannelResultMap" parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT C.*,P.NAME P_NAME FROM CRM_CHANNEL C LEFT JOIN CRM_PERSONNEL P ON C.UID=P.UID WHERE 1=1 ]]>
		<!-- 渠道编号 -->
		<if test="condition.channelId != null and condition.channelId != ''">
			<![CDATA[ AND C.CHANNELID =#{condition.channelId}]]>
		</if>
		<!-- 渠道名称 -->
		<if test="condition.name != null and condition.name != ''">
			<![CDATA[ AND C.NAME LIKE CONCAT('%',#{condition.name},'%')]]>
		</if>
		<!-- 渠道描述 -->
		<if test="condition.remark != null and condition.remark != ''">
			<![CDATA[ AND C.REMARK LIKE CONCAT('%',#{condition.remark},'%')]]>
		</if>
		<!--推广起始时间 -->
		<if test="condition.startTime != null and condition.startTime != ''">
			<![CDATA[ AND C.STARTTIME >=#{condition.startTime}]]>
		</if>
		<!--推广起始时间 -->
		<if test="condition.endTime != null and condition.endTime != ''">
			<![CDATA[ AND C.STARTTIME <=#{condition.endTime}]]>
		</if>
		<!-- 创建员工 -->
		<if test="condition.uid != null and condition.uid != ''">
			<![CDATA[ AND C.UID =#{condition.uid}]]>
		</if>
		<if test="condition.defaultUid!= null and condition.defaultUid != ''">
			<![CDATA[ OR C.UID =#{condition.defaultUid}]]>
		</if>
		<!-- 紫金财富特定员工录入的渠道所有人都可以看到 -->
		<![CDATA[ ORDER BY C.CHANNELID DESC]]>
	</select>
</mapper>